<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/images/favicon.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      {{ content }}

      <div class='footer'></div>
    </div>

<!-- 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
-->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

    <script type="text/javascript">
      function initialize() {
        var sitar_ll = new google.maps.LatLng(41.3099338,-72.921299);

        var mapOptions = {
          center: sitar_ll,
          zoom: 15
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: sitar_ll,
            map: map,
            title: 'Sitar'
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>



